/* player */
.match--2-players .player:nth-of-type(1),
.match--2-players .player:nth-of-type(2) {
    position: absolute;
    left: calc(calc(var(--match-width) - var(--player-width)) / 2);
}

.match--2-players .player:nth-of-type(1) {
    bottom: 0;
}

.match--2-players .player:nth-of-type(2) {
    top: 0;
    transform: rotate(180deg);
}

.match--2-players .player:nth-of-type(2) .player__rotate {
    transform: rotate(180deg);
}

/* deck */
.match--2-players .card--deck-0 {
    right: calc(
        calc(var(--match-width) - var(--player-width)) / 2 + var(--card-margin)
    );
    bottom: var(--card-margin);
}

.match--2-players .card--deck-1 {
    left: calc(
        calc(var(--match-width) - var(--player-width)) / 2 + var(--card-margin)
    );
    top: var(--card-margin);
}

/* hand */
.match--2-players .card--hand {
    --a: calc(var(--card-width) + var(--card-margin));
    --b: calc(var(--match-width) - var(--player-width)) / 2 +
        calc(2 * var(--card-margin));
}

.match--2-players .card--hand-p0 {
    bottom: var(--card-margin);
}

.match--2-players .card--hand-p1 {
    top: var(--card-margin);
}

.match--2-players .card--hand-0 {
    left: calc(var(--a) * 4 + var(--b));
}

.match--2-players .card--hand-1 {
    left: calc(var(--a) * 5 + var(--b));
}

.match--2-players .card--hand-2 {
    left: calc(var(--a) * 3 + var(--b));
}

.match--2-players .card--hand-3 {
    left: calc(var(--a) * 6 + var(--b));
}

.match--2-players .card--hand-4 {
    left: calc(var(--a) * 2 + var(--b));
}

.match--2-players .card--hand-5 {
    left: calc(var(--a) * 7 + var(--b));
}

.match--2-players .card--hand-6 {
    left: calc(var(--a) * 1 + var(--b));
}

/* fight-zone */
.match--2-players .card--fight-zone {
    --a: calc(var(--card-width) + var(--card-margin));
    --b: calc(var(--match-width) - var(--player-width)) / 2 +
        calc(2 * var(--card-margin));

    --first-row: calc(
        3 * var(--card-margin) + var(--card-height) + var(--resources-height)
    );
    --second-row: calc(
        4 * var(--card-margin) + 2 * var(--card-height) +
            var(--resources-height)
    );
}

.match--2-players .card--fight-zone-p0 {
    bottom: var(--first-row);
}

.match--2-players .card--fight-zone-p1 {
    top: var(--first-row);
}

.match--2-players .card--fight-zone-p0.card--fight-zone-8,
.match--2-players .card--fight-zone-p0.card--fight-zone-9 {
    bottom: var(--second-row);
}

.match--2-players .card--fight-zone-p1.card--fight-zone-8,
.match--2-players .card--fight-zone-p1.card--fight-zone-9 {
    top: var(--second-row);
}

.match--2-players .card--fight-zone-0 {
    left: calc(var(--a) * 4 + var(--b));
}

.match--2-players .card--fight-zone-1 {
    left: calc(var(--a) * 5 + var(--b));
}

.match--2-players .card--fight-zone-2 {
    left: calc(var(--a) * 3 + var(--b));
}

.match--2-players .card--fight-zone-3 {
    left: calc(var(--a) * 6 + var(--b));
}

.match--2-players .card--fight-zone-4 {
    left: calc(var(--a) * 2 + var(--b));
}

.match--2-players .card--fight-zone-5 {
    left: calc(var(--a) * 7 + var(--b));
}

.match--2-players .card--fight-zone-6 {
    left: calc(var(--a) * 1 + var(--b));
}

.match--2-players .card--fight-zone-6 {
    left: calc(var(--a) * 1 + var(--b));
}

.match--2-players .card--fight-zone-p0.card--fight-zone-7 {
    left: calc(var(--a) * 8 + var(--b));
}
.match--2-players .card--fight-zone-p0.card--fight-zone-7 {
    left: calc(var(--a) * 0 + var(--b));
}

.match--2-players .card--fight-zone-8 {
    left: calc(var(--a) * 4 + var(--b));
}

.match--2-players .card--fight-zone-9 {
    left: calc(var(--a) * 5 + var(--b));
}
