.match--2-players {
    --match-height: 100vh;
    --match-width: calc(159728 / 136275 * var(--match-height));

    --card-height: calc(278 / 1817 * var(--match-height));
    --card-width: calc(298 / 417 * var(--card-height));

    --player-left: 0;
}

@media (max-aspect-ratio: 159728 / 136275) {
    .match--2-players {
        --match-width: 100vw;
        --match-height: calc(136275 / 159728 * var(--match-width));
    }
}

.match--2-players::before {
    --left: calc(var(--player-left) / 2);

    left: var(--left);
    right: var(--left);
    top: var(--cards-height);
    bottom: var(--cards-height);
}

/* player */
.match--2-players .player:nth-of-type(1),
.match--2-players .player:nth-of-type(2) {
    position: absolute;
    left: var(--player-left);
}

.match--2-players .player:nth-of-type(1) {
    bottom: 0;
}

.match--2-players .player:nth-of-type(2) {
    top: 0;
    transform: rotate(180deg);
}

.match--2-players .player:nth-of-type(2) .player__rotate {
    transform: rotate(180deg);
}

/* deck */
.match--2-players .card--deck-0 {
    left: calc(
        var(--match-width) - calc(var(--match-width) - var(--player-width)) / 2 -
            var(--card-width) - var(--card-margin)
    );
    top: calc(var(--match-height) - var(--card-height) - var(--card-margin));
}

.match--2-players .card--deck-1 {
    left: calc(
        calc(var(--match-width) - var(--player-width)) / 2 + var(--card-margin)
    );
    top: var(--card-margin);
}

/* hand */
.match--2-players .card--hand {
    --a: calc(var(--card-width) + var(--card-margin));
    --b: calc(var(--match-width) - var(--player-width)) / 2 +
        calc(2 * var(--card-margin));
}

.match--2-players .card--hand-p0 {
    top: calc(var(--match-height) - var(--card-height) - var(--card-margin));
}

.match--2-players .card--hand-p1 {
    top: var(--card-margin);
}

.match--2-players .card--hand-0 {
    left: calc(var(--a) * 4 + var(--b));
}

.match--2-players .card--hand-1 {
    left: calc(var(--a) * 5 + var(--b));
}

.match--2-players .card--hand-2 {
    left: calc(var(--a) * 3 + var(--b));
}

.match--2-players .card--hand-3 {
    left: calc(var(--a) * 6 + var(--b));
}

.match--2-players .card--hand-4 {
    left: calc(var(--a) * 2 + var(--b));
}

.match--2-players .card--hand-5 {
    left: calc(var(--a) * 7 + var(--b));
}

.match--2-players .card--hand-6 {
    left: calc(var(--a) * 1 + var(--b));
}

/* fight-zone */
.match--2-players .card--fight-zone {
    --a: calc(var(--card-width) + var(--card-margin));

    --first-row: calc(
        3 * var(--card-margin) + var(--card-height) + var(--bar-height)
    );
    --second-row: calc(
        4 * var(--card-margin) + 2 * var(--card-height) + var(--bar-height)
    );
}

.match--2-players .card--fight-zone-p0 {
    --b: calc(
        calc(var(--match-width) - var(--player-width)) / 2 + 2 *
            var(--card-margin)
    );

    top: calc(var(--match-height) - var(--card-height) - var(--first-row));
}

.match--2-players .card--fight-zone-p1 {
    --b: calc(
        calc(var(--match-width) - var(--player-width)) / 2 +
            calc(2 * var(--card-margin)) - var(--a)
    );

    top: var(--first-row);
}

.match--2-players .card--fight-zone-p0.card--fight-zone-8,
.match--2-players .card--fight-zone-p0.card--fight-zone-9,
.match--2-players .card--fight-zone-p0.card--fight-zone-10,
.match--2-players .card--fight-zone-p0.card--fight-zone-11,
.match--2-players .card--fight-zone-p0.card--fight-zone-12,
.match--2-players .card--fight-zone-p0.card--fight-zone-13,
.match--2-players .card--fight-zone-p0.card--fight-zone-14,
.match--2-players .card--fight-zone-p0.card--fight-zone-15 {
    top: calc(var(--match-height) - var(--card-height) - var(--second-row));
}

.match--2-players .card--fight-zone-p1.card--fight-zone-8,
.match--2-players .card--fight-zone-p1.card--fight-zone-9,
.match--2-players .card--fight-zone-p1.card--fight-zone-10,
.match--2-players .card--fight-zone-p1.card--fight-zone-11,
.match--2-players .card--fight-zone-p1.card--fight-zone-12,
.match--2-players .card--fight-zone-p1.card--fight-zone-13,
.match--2-players .card--fight-zone-p1.card--fight-zone-14,
.match--2-players .card--fight-zone-p1.card--fight-zone-15 {
    top: var(--second-row);
}

.match--2-players .card--fight-zone-0 {
    left: calc(var(--a) * 4 + var(--b));
}

.match--2-players .card--fight-zone-1 {
    left: calc(var(--a) * 5 + var(--b));
}

.match--2-players .card--fight-zone-2 {
    left: calc(var(--a) * 3 + var(--b));
}

.match--2-players .card--fight-zone-3 {
    left: calc(var(--a) * 6 + var(--b));
}

.match--2-players .card--fight-zone-4 {
    left: calc(var(--a) * 2 + var(--b));
}

.match--2-players .card--fight-zone-5 {
    left: calc(var(--a) * 7 + var(--b));
}

.match--2-players .card--fight-zone-6 {
    left: calc(var(--a) * 1 + var(--b));
}

.match--2-players .card--fight-zone-7 {
    left: calc(var(--a) * 8 + var(--b));
}

.match--2-players .card--fight-zone-8 {
    left: calc(var(--a) * 4 + var(--b));
}

.match--2-players .card--fight-zone-9 {
    left: calc(var(--a) * 5 + var(--b));
}

.match--2-players .card--fight-zone-10 {
    left: calc(var(--a) * 3 + var(--b));
}

.match--2-players .card--fight-zone-11 {
    left: calc(var(--a) * 6 + var(--b));
}

.match--2-players .card--fight-zone-12 {
    left: calc(var(--a) * 2 + var(--b));
}

.match--2-players .card--fight-zone-13 {
    left: calc(var(--a) * 7 + var(--b));
}

.match--2-players .card--fight-zone-14 {
    left: calc(var(--a) * 1 + var(--b));
}

.match--2-players .card--fight-zone-15 {
    left: calc(var(--a) * 8 + var(--b));
}

/* discard */
.match--2-players .card--discard-0 {
    left: calc(
        calc(var(--match-width) - var(--player-width)) / 2 + var(--card-margin)
    );
    top: calc(var(--match-height) - var(--card-height) - var(--card-margin));
}

.match--2-players .card--discard-1 {
    left: calc(
        var(--match-width) - var(--card-width) -
            calc(var(--match-width) - var(--player-width)) / 2 -
            var(--card-margin)
    );
    top: var(--card-margin);
}
