/* This file is for your main application css. */

@import './fa.min.css';
@import './phoenix.css';
@import '../../deps/phoenix_live_view/assets/css/live_view.css';

@import './header.css';
@import './client.css';
@import './lobby.css';
@import './match.css';

body {
    margin: 0;
}

table {
    margin-bottom: 0;
}

.heros__button {
    --button-color: white;
    --button-color-bg: darkgoldenrod;
    --button-color-bg-hover: #916b08;

    background-color: var(--button-color-bg);
    border: 4px double var(--button-color-bg);
    border-style: ridge groove groove ridge;
    border-radius: 0;
    color: var(--button-color);
    font-size: 0.75em;
    height: auto;
    font-weight: 500;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 0;
    padding: 0.5em 0.8em;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.heros__button:focus,
.heros__button:hover {
    background-color: var(--button-color-bg-hover);
    border-color: var(--button-color-bg-hover);
    color: var(--button-color);
}

.heros__button--outline {
    background-color: transparent;
    border-style: groove ridge ridge groove;
    border-color: var(--button-color-bg);
    color: var(--button-color-bg);
}

.heros__button--outline:focus,
.heros__button--outline:hover {
    background-color: transparent;
    border-color: var(--button-color-bg-hover);
    color: var(--button-color-bg-hover);
}
