.heros-button {
    --button-color: white;
    --button-color-bg: darkgoldenrod;
    --button-color-bg-hover: #916b08;

    background-color: var(--button-color-bg);
    border: 4px double var(--button-color-bg);
    border-style: ridge groove groove ridge;
    border-radius: 0;
    color: var(--button-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7em;
    letter-spacing: 0.04em;
    height: auto;
    padding: 0.6em 0.8em 0.45em;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
    cursor: pointer;
}

.heros-button:disabled {
    cursor: default;
    opacity: 0.5;
}

.heros-button:disabled:hover,
.heros-button:disabled:focus {
    background-color: var(--button-color-bg);
    border-color: var(--button-color-bg);
}

.heros-button:focus,
.heros-button:hover {
    background-color: var(--button-color-bg-hover);
    border-color: var(--button-color-bg-hover);
    color: var(--button-color);
}

.heros-button--outline {
    background-color: transparent;
    border-style: groove ridge ridge groove;
    border-color: var(--button-color-bg);
    color: var(--button-color-bg);
}

.heros-button--outline:focus,
.heros-button--outline:hover {
    background-color: transparent;
    border-color: var(--button-color-bg-hover);
    color: var(--button-color-bg-hover);
}
