.client {
    --container-max-width: 1100px;
    --client-border-color: #a27709;

    min-height: 100vh;
    background: url('../images/quartz_block_bottom.png');
}

.client__content {
    padding: 2em 0;
    max-width: var(--container-max-width);
    margin: 0 auto;
}

.client__error {
    border-bottom: 1px solid var(--client-border-color);
}

.client__error-back {
    display: flex;
    justify-content: center;
    padding-top: 0.67em;
}

.games {
    background: url('../images/bg.jpg');
    padding: 1em;
    box-shadow: 0 0 2px black;
    margin-top: 2em;
    margin-bottom: 2em;
    color: wheat;
}

.games__nav {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    border-bottom: 6px double var(--client-border-color);
    margin-bottom: 1em;
}

.games__no-game {
    text-align: center;
}

.games__game,
.games__game-header {
    display: flex;
    padding: 0.67em 0.33em;
    border-bottom: 1px double var(--client-border-color);
}

.games__game {
    color: inherit;
}

.games__game-header {
    padding: 0 0.33em 0.67em;
    color: darkgoldenrod;
}

.games__game:hover,
.games__game:focus {
    color: inherit;
    background-color: rgba(255, 255, 255, 0.2);
}

.games__game-header {
    font-weight: 500;
}

.games__game-name {
    flex-grow: 1;
}
