.client {
    --container-max-width: 80rem;

    min-height: 100vh;
    background: url('../images/minecraft/stone.png');
    background: url('../images/minecraft/coal_block.png');
    background: url('../images/wool_colored_black.png');
    background: url('../images/quartz_block_bottom.png');
}

.client__content {
    padding: 1em 0;
    max-width: var(--container-max-width);
    margin: 0 auto;
}

.games {
    --border-color: #a27709;

    background-color: rgba(0, 0, 0, 0.3);
    padding: 1em;
    box-shadow: 0 0 2px black;
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
}

.games__nav {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    border-bottom: 6px double var(--border-color);
    margin-bottom: 1em;
}

.games__game,
.games__game-header {
    display: flex;
    padding: 0.67em 0.33em;
    border-bottom: 1px double var(--border-color);
}

.games__game {
    color: inherit;
}

.games__game-header {
    padding: 0 0.33em 0.67em;
}

.games__game:hover,
.games__game:focus {
    color: inherit;
    background-color: rgba(0, 0, 0, 0.3);
}

.games__game-header {
    font-weight: 500;
}

.games__game-name {
    flex-grow: 1;
}
