.match {
    --match-height: 100vh;
    --match-width: 100vw;

    --button-color: #ffffff;
    --button-color-bg: #0069d9;
    --button-color-bg-hover: #606c76;

    --card-width: 4.47vw; /* 298px */
    --card-height: calc(417 / 298 * var(--card-width)); /* 417px */
    --card-margin: calc(0.06 * var(--card-width));
    --card-border-radius: calc(0.06 * var(--card-width));

    --resources-height: calc(
        2 * var(--fight-zone-border-width) + 2 * var(--resource-padding-top) +
            var(--resource-font-size)
    );
    --player-width: calc(
        9 * calc(var(--card-width) + var(--card-margin)) +
            calc(3 * var(--card-margin))
    );
    --player-height: calc(
        3 * calc(var(--card-height) + var(--card-margin)) +
            calc(2 * var(--card-margin)) + var(--resources-height)
    );
    --current-player-color: mediumorchid;

    --fight-zone-bg: beige;
    --fight-zone-border-width: 3px;
    --fight-zone-border-color: darkgoldenrod;

    --resource-padding-top: 0.33em;
    --resource-font-size: 1em;
    --resource-bg: white;

    --player-hand-border-width: 1px;
    --player-hand-border-color: black;

    --market-bg: darkred;

    position: relative;
    height: var(--match-height);
    width: var(--match-width);
    font-size: calc(0.2 * var(--card-width));
    line-height: 1;
    overflow: hidden;
}

.match__button {
    background-color: var(--button-color-bg);
    border: 0.1em solid var(--button-color-bg);
    border-radius: 0.3em;
    color: var(--button-color);
    font-size: 0.75em;
    height: auto;
    font-weight: 500;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 0;
    padding: 0.5em 0.8em;
}

.match__button:focus,
.match__button:hover {
    background-color: var(--button-color-bg-hover);
    border-color: var(--button-color-bg-hover);
    color: var(--button-color);
}

.match__button--outline {
    background-color: transparent;
    border-color: var(--button-color-bg);
    color: var(--button-color-bg);
}

.match__button--outline:focus,
.match__button--outline:hover {
    background-color: transparent;
    border-color: var(--button-color-bg-hover);
    color: var(--button-color-bg-hover);
}

.match__market {
    --width: calc(
        6 * calc(var(--card-width) + var(--card-margin)) + var(--card-margin)
    );
    --height: calc(
        1 * calc(var(--card-height) + var(--card-margin)) + var(--card-margin)
    );

    background: var(--market-bg);
    width: var(--width);
    height: var(--height);
    position: absolute;
    top: calc(calc(var(--match-height) - var(--height)) / 2);
    left: calc(calc(var(--match-width) - var(--width)) / 2);
}

.player {
    width: var(--player-width);
    height: var(--player-height);
}

.player__fight-zone {
    --height: calc(
        2 * calc(var(--card-height) + var(--card-margin)) + var(--card-margin)
    );

    height: var(--height);
    padding: var(--card-margin);
    display: flex;
    align-items: flex-end;
    background: var(--fight-zone-bg);
}

.player__hp {
    width: var(--card-width);
    height: var(--card-height);
    border-radius: var(--card-border-radius);
    color: wheat;
    font-size: 1.2em;
    text-shadow: 0 0 10px black;
    font-weight: bold;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.player__hp-bis {
    position: absolute;
    margin-top: 3%;
}

.player--p0 .player__hp {
    background-image: url('../images/counter_blue.png');
}

.player--p1 .player__hp {
    background-image: url('../images/counter_red.png');
}

.player--p2 .player__hp {
    background-image: url('../images/counter_green.png');
}

.player--p3 .player__hp {
    background-image: url('../images/counter_yellow.png');
}

.player--p-chara .player__hp::before {
    --width: calc(0.5 * var(--card-width));
    --height: calc(120 / 97 * var(--width));

    content: '';
    height: var(--height);
    width: var(--width);
    position: absolute;
    left: calc(calc(var(--card-width) - var(--width)) / 2);
    top: calc(calc(var(--card-height) - var(--height)) / 2);
    background-image: url('../images/hp.png');
    background-size: 100% 100%;
}

.player--current .player__hp::after {
    --border-width: calc(0.06 * var(--card-width));

    content: '';
    position: absolute;
    width: calc(100% + 2 * var(--border-width));
    height: calc(100% + 2 * var(--border-width));
    border-radius: calc(1.8 * var(--card-border-radius));
    border: var(--border-width) dashed var(--current-player-color);
}

.player__resources {
    display: flex;
    justify-content: center;
    border-bottom: var(--fight-zone-border-width) solid
        var(--fight-zone-border-color);
    background: var(--fight-zone-bg);
    position: relative;
}

.player__name {
    position: absolute;
    left: var(--card-margin);
    bottom: var(--card-margin);
}

.match__button--end-turn {
    position: absolute;
    right: var(--card-margin);
    bottom: var(--card-margin);
}

.player__resource {
    font-size: var(--resource-font-size);
    border-top: var(--fight-zone-border-width) solid
        var(--fight-zone-border-color);
    border-left: var(--fight-zone-border-width) solid
        var(--fight-zone-border-color);
    background: var(--resource-bg);
}

.player__resource:last-of-type {
    border-right: var(--fight-zone-border-width) solid
        var(--fight-zone-border-color);
}

.player__gold,
.player__attack {
    width: var(--card-width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: var(--resource-padding-top);
}

.player__gold::before,
.player__attack::before {
    content: '';
    display: block;
    height: 1.1em;
    margin-right: 0.33em;
    background-size: 100% 100%;
}

.player__gold::before {
    background-image: url('https://www.herorealms.com/wp-content/uploads/2017/12/gold0.jpg');
    width: 1.1em;
}

.player__attack::before {
    background-image: url('https://www.herorealms.com/wp-content/uploads/2017/12/combat0.jpg');
    width: 1.21em;
}

.player__cards {
    display: flex;
}

.player__cards-pile {
    width: calc(var(--card-width) + calc(2 * var(--card-margin)));
    height: calc(var(--card-height) + calc(2 * var(--card-margin)));
}

.player__hand {
    flex-grow: 1;
    height: var(--card-height);
    margin: var(--card-margin) 0;
    padding: 0 var(--card-margin);
    border-left: var(--player-hand-border-width) solid
        var(--player-hand-border-color);
    border-right: var(--player-hand-border-width) solid
        var(--player-hand-border-color);
}

.card {
    position: absolute;
    width: var(--card-width);
    height: var(--card-height);
    border-radius: var(--card-border-radius);
    transition: top 1s, right 1s, bottom 1s, left 1s;
}

@import './2-players.css';
