.match-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url('../images/planks_oak.png');
    position: relative;
}

.match {
    --card-margin: calc(0.06 * var(--card-width));
    --card-border-radius: calc(0.06 * var(--card-width));
    --card-box-shadow: 0 0 4px black;

    --player-width: calc(
        2 * var(--fight-zone-border-width) + 9 * var(--card-width) + 10 *
            var(--card-margin)
    );
    --current-player-color: mediumorchid;

    --hp-font-size: 1.2em;
    --box-shadow-hp-not-current: 0 0 8px black;
    --player-name-bg: #001621;
    --player-name-font-size: 0.9em;

    --fight-zone-bg: url('../images/hardened_clay_stained_purple.png');
    --fight-zone-border-width: calc(0.05 * var(--card-width));
    --fight-zone-border-color: darkgoldenrod;
    --box-shadow-fight-zone: 0 0 8px black;

    --player-bar-height: calc(var(--card-height) + 2 * var(--card-margin));

    --gold-color: gold;
    --gold-bg: #0a2354;
    --attack-color: wheat;
    --attack-bg: darkred;
    --resource-border-color: #444444;
    --resource-font-size: 1.1em;

    --market-width: calc(
        1 * calc(var(--card-width) + var(--card-margin)) + var(--card-margin) +
            2 * var(--fight-zone-border-width)
    );
    --market-height: calc(
        6 * calc(var(--card-height) + var(--card-margin)) + var(--card-margin) +
            2 * var(--fight-zone-border-width)
    );
    --market-top: calc(calc(var(--match-height) - var(--market-height)) / 2);
    --market-left: calc(var(--match-width) - var(--market-width));
    --market-bg: url('../images/wool_colored_red.png');
    --market-border-color: darkred;

    position: relative;
    height: var(--match-height);
    width: var(--match-width);
    font-size: calc(0.2 * var(--card-width));
    line-height: 1;
}

.match::before {
    content: '';
    position: absolute;
    background: var(--fight-zone-bg);
    border: var(--fight-zone-border-width) solid var(--fight-zone-border-color);
    border-radius: var(--fight-zone-border-radius);
    box-shadow: var(--box-shadow-fight-zone);
}

.match__market {
    background: var(--market-bg);
    width: var(--market-width);
    height: var(--market-height);
    position: absolute;
    top: var(--market-top);
    left: var(--market-left);
    border: var(--fight-zone-border-width) solid var(--market-border-color);
}

.card--market-deck,
.card--gem,
.card--market {
    --a: calc(var(--card-height) + var(--card-margin));
    --b: calc(
        var(--market-top) + var(--fight-zone-border-width) + var(--card-margin)
    );

    left: calc(
        var(--market-left) + var(--fight-zone-border-width) + var(--card-margin)
    );
}

.card--market-deck {
    top: calc(var(--match-width) + var(--card-margin));
}

.card--gem {
    top: var(--b);
}

.card--market-0 {
    top: calc(var(--a) * 1 + var(--b));
}

.card--market-1 {
    top: calc(var(--a) * 2 + var(--b));
}

.card--market-2 {
    top: calc(var(--a) * 3 + var(--b));
}

.card--market-3 {
    top: calc(var(--a) * 4 + var(--b));
}

.card--market-4 {
    top: calc(var(--a) * 5 + var(--b));
}

.player {
    width: var(--player-width);
}

.player__fight-zone {
    --height: calc(
        2 * var(--card-height) + 3 * var(--card-margin) + 2 *
            var(--fight-zone-border-width)
    );

    height: var(--height);
    padding: var(--card-margin);
    display: flex;
    align-items: flex-end;
    background: var(--fight-zone-bg);
    border: var(--fight-zone-border-width) solid var(--fight-zone-border-color);
}

.player__hp {
    width: var(--card-width);
    height: var(--card-height);
    border-radius: var(--card-border-radius);
    color: wheat;
    text-shadow: 0 0 10px black;
    box-shadow: var(--box-shadow-hp-not-current);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.player__hp-bis {
    font-size: var(--hp-font-size);
    font-weight: bold;
    padding-top: 1%;
}

.player__name {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: var(--player-name-font-size);
    text-align: center;
    padding: 2% 0 3%;
    background: var(--player-name-bg);
    opacity: 0.9;
    border-bottom-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
}

.player--p0 .player__hp {
    --current-player-color: darkblue;
    background-image: url('../images/counter_blue.png');
}

.player--p1 .player__hp {
    --current-player-color: darkred;
    background-image: url('../images/counter_red.png');
}

.player--p2 .player__hp {
    --current-player-color: darkgreen;
    background-image: url('../images/counter_green.png');
}

.player--p3 .player__hp {
    --current-player-color: darkgoldenrod;
    background-image: url('../images/counter_yellow.png');
}

.player--p-chara .player__hp::before {
    --width: calc(0.5 * var(--card-width));
    --height: calc(120 / 97 * var(--width));

    content: '';
    height: var(--height);
    width: var(--width);
    position: absolute;
    left: calc(calc(var(--card-width) - var(--width)) / 2);
    top: calc(calc(var(--card-height) - var(--height)) / 2);
    background-image: url('../images/hp.png');
    background-size: 100% 100%;
}

.player--current .player__hp::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: calc(1.8 * var(--card-border-radius));
    box-shadow: 0 0 10px calc(0.06 * var(--card-width))
        var(--current-player-color);
}

.player__bar {
    display: flex;
    justify-content: space-between;
    height: var(--player-bar-height);
    padding: var(--card-margin)
        calc(var(--card-margin) + var(--fight-zone-border-width));
}

.player__cards-pile {
    height: var(--card-height);
    width: var(--card-width);
    border: var(--fight-zone-border-width) dashed darkred;
    border-radius: var(--card-border-radius);
    background: rgba(0, 0, 0, 0.3);
}

.player__bar-left {
    display: flex;
}

.player__resources {
    margin-left: var(--card-margin);
    display: flex;
    flex-direction: column;
    height: var(--card-height);
    width: var(--card-width);
    box-shadow: 0 0 4px black;
    border-radius: var(--card-border-radius);
    overflow: hidden;
}

.player__resource {
    font-size: var(--resource-font-size);
    color: var(--resource-color);
    font-weight: bold;
    flex-grow: 1;
}

.player__gold,
.player__attack {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player__gold {
    --resource-color: var(--gold-color);
    background: var(--gold-bg);
}

.player__attack {
    --resource-color: var(--attack-color);
    background: var(--attack-bg);
}

.player__gold > svg,
.player__attack > svg {
    display: block;
    width: 1em;
    height: 1em;
    margin-right: 0.33em;
}

.player__gold > svg .fa-primary,
.player__attack > svg .fa-primary {
    fill: var(--resource-color);
}

.player__gold > svg .fa-secondary,
.player__attack > svg .fa-secondary {
    fill: var(--resource-color);
    opacity: 0.6;
}

.card {
    position: absolute;
    width: var(--card-width);
    height: var(--card-height);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);
    transition: top 1s, left 1s;
}

.player__menu {
    position: absolute;
    background: #fff;
    font-size: 0.75em;
    right: 0;
    bottom: 0;
    padding: 0.33em;
}

@import './2-players.css';
